name: soar-dl nightly

on:
  push:
    branches:
      - main
  workflow_dispatch:  

permissions:
  attestations: write
  contents: write
  id-token: write

jobs:
  remove-nightly-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Remove existing nightly tag
        run: |
          gh release delete nightly --cleanup-tag || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish-nightly:
    name: Publish nightly binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build:
          - {
              NAME: aarch64-linux,
              TARGET: aarch64-unknown-linux-musl,
            }
          - {
              NAME: loongarch64-linux,
              TARGET: loongarch64-unknown-linux-musl
            }
          - {
              NAME: riscv64-linux,
              TARGET: riscv64gc-unknown-linux-musl
            }
          - {
              NAME: x86_64-linux,
              TARGET: x86_64-unknown-linux-musl,
            }
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version info
        id: version
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "version=nightly-${SHORT_SHA}" >> $GITHUB_OUTPUT

      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update -y
          sudo apt install b3sum findutils file -y

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.build.TARGET }}

      - name: Install Cross
        shell: bash
        run: |
          cargo install cross --git "https://github.com/cross-rs/cross" --jobs="$(($(nproc)+1))"
          hash -r &>/dev/null
          command -v cross &>/dev/null || { echo "cross command not found" >&2; exit 1; }

      - name: Build
        env:
          RUSTFLAGS: "-C target-feature=+crt-static \
                      -C default-linker-libraries=yes \
                      -C link-self-contained=yes \
                      -C opt-level=3 \
                      -C debuginfo=none \
                      -C strip=symbols \
                      -C link-arg=-Wl,-S \
                      -C link-arg=-Wl,--build-id=none \
                      -C link-arg=-Wl,--discard-all \
                      -C link-arg=-Wl,--strip-all"
          SOAR_NIGHTLY: "1"
        run: cross +nightly build --features "binary" --release --locked --target "${{ matrix.build.TARGET }}" --jobs="$(($(nproc)+1))" --verbose
          
      - name: Prepare release assets
        env:
          ARTIFACT: "release/soar-dl-${{ matrix.build.NAME }}"
          ARCHIVE: "soar-dl-${{ matrix.build.NAME }}.tar.gz"
        shell: bash
        run: |
          mkdir -p release
          cp {LICENSE,README.md} release/
          cp "target/${{ matrix.build.TARGET }}/release/soar-dl" "${ARTIFACT}"
          b3sum "${ARTIFACT}" > "${ARTIFACT}.b3sum"
          cp "${ARTIFACT}" .
          cp "${ARTIFACT}.b3sum" .
          tar -czvf "${ARCHIVE}" release/
          b3sum "${ARCHIVE}" > "${ARCHIVE}.b3sum"
          bash -c 'realpath "${ARTIFACT}" ; realpath "${ARCHIVE}"' | xargs -I "{}" bash -c \
           'printf "\nFile: $(basename {})\n  Type: $(file -b {})\n  B3sum: $(b3sum {} | cut -d" " -f1)\n  SHA256sum: $(sha256sum {} | cut -d" " -f1)\n  Size: $(du -bh {} | cut -f1)\n"'

      - name: Upload nightly binary
        uses: softprops/action-gh-release@v2
        with:
          files: soar-dl-${{ matrix.build.NAME }}*
          tag_name: nightly
          name: ${{ steps.version.outputs.version }}
          body: "This is an automated nightly build of soar-dl."
          prerelease: true
          draft: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@v2.4.0
        with:
          subject-name: "nightly-soar-dl-${{ matrix.build.NAME }}"
          subject-path: |
            soar-dl-${{ matrix.build.NAME }}*
          show-summary: true
